.about-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  align-items: center;
  margin-bottom: 40px;
}

.sections-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  align-items: center;
}

.team-image {
  flex: 0 0 auto;
}

.team-image img {
  width: 100%;
  height: 500px;
  max-width: 450px;
  object-fit: cover;
  margin: 20px;
  border-radius: 5px;
}

.team-description {
  flex: 1;
  padding: 0 20px;
}

h1 {
  font-size: 2em;
  color: #81ad40;
  font-weight: bold;
  margin-bottom: 20px;
}

.section-story, .section-commitment {
  padding: 20px 0;
}

section + section {
  margin-top: 40px;
}

p {
  font-size: 1em;
  line-height: 1.6;
  color: #333;
}

#offer-p {
  padding-top: 75px;
}
