.dashboard-container {
  display: grid;
  grid-template-columns: 3fr 8fr;
  background-color: #FAF3ED;
  padding: 40px;
}

.user-avatar {
  border-radius: 50%;
  height: 150px;
  width: 150px;
}

.dashboard-user-info {
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.dashboard-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.dashboard-card {
  width: 100%;
  height: auto;
}

.dashboard-card h2 {
  font-weight: bold;
  font-size: 1.5em;
  color: #FAF3ED;
  background-color: #2D381D;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  padding: 3px;
}

.card-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-item-island {
  scroll-snap-align: center;
  min-width: 220px;
  max-width: 220px;
  height: auto;
  background-color: #FAF3ED;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  box-sizing: border-box;
}


.card-item-island img {
  border-radius: 10px;
  height: 150px;
  width: 150px;
  object-fit: cover;
}

.card-item-island h3 {
  font-weight: bold;
  font-size: 1.1em;
  color: black;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
}

.card-item-island p {
  font-size: 0.9em;
  color: rgb(49, 48, 48);
  margin: 5px 0;
  text-align: center;
}

.booking-actions  a {
  text-decoration: none;
  font-size: 14px;
  color: rgb(135, 134, 134);
}

.booking-actions a:hover {
  color: #81ad40;
}
