<div class="banner-container">
  <div class="banner-content">
    <h1><strong>Paradise Escape</strong></h1>
    <p>Discover and Rent Your Own Private Island Getaway</p>
    <a class="banner-button" href="#">View Services</a>
  </div>
</div>
