<footer class="footer">
  <div class="footer-content">
    <ul class="footer-menu">
      <li class="footer-item">
        <a class="footer-link" href="#"><i class="fa-brands fa-facebook"></i></a>
      </li>
      <li class="footer-item">
        <a class="footer-link" href="#"><i class="fa-brands fa-instagram"></i></a>
      </li>
      <li class="footer-item">
        <a class="footer-link" href="#"><i class="fa-brands fa-youtube"></i></a>
      </li>
      <li class="footer-item">
        <a class="footer-link" href="#"><i class="fa-brands fa-x-twitter"></i></a>
      </li>
    </ul>
    <div class="footer-p">
      <p>© 2024 Paradise Escape. All rights reserved.</p>
    </div>
  </div>
</footer>
