.button-green {
  background-color: #81ad40;
  border: none;
  border-radius: 10px;
  text-decoration: none;
  text-align: center;
  color: #FAF3ED;
  font-size: 0.8em;
  width: 150px;
  height: 50px;
}

.button-green:hover {
  color: #dbd3cc;
  background-color: #81ad40 !important;
}

.btn-navbar-green {
  color: #FAF3ED;
}

a {
  text-decoration: none;
  color: #FAF3ED;
}

.button-green:hover a{
  color: #dbd3cc;
}

.delete-btn {
  color: #878686;

}
