button {
  border: none;
  cursor: pointer;
  color: rgb(49, 48, 48);
  background: none;
  transition: all .3s ease-in-out;
}

.carousel-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-view {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 44px 0;
  transition: all 0.25s ease-in;
}

.item-list {
  max-width: 950px;
  width: 70vw;
  padding: 50px 10px;
  display: flex;
  gap: 48px;
  scroll-behavior: smooth;
  transition: all 0.25s ease-in;
  overflow: auto;
  scroll-snap-type: x mandatory;
}

.item-list::-webkit-scrollbar {
  display: none;
}

.prev-btn,
.next-btn {
  background: none;
  cursor: pointer;
}

.card-item {
  scroll-snap-align: center;
  min-width: 220px;
  max-width: 220px;
  height: auto;
  background-color: #FAF3ED;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 15px;
  box-sizing: border-box;
}

.card-item h3 {
  font-weight: bold;
  font-size: 1.1em;
  color: black;
  margin-bottom: 10px;
  margin-top: 10px;
}

.card-item p {
  font-size: 0.9em;
  color: rgb(49, 48, 48);
  margin: 5px 0;
  text-align: center;
}

.card-item img {
  border-radius: 10px;
  height: 150px;
  width: 150px;
  object-fit: cover;
}
