.form-container {
  margin: 0px 80px 20px 80px;
  padding: 20px;
}

.form-container h1 {
  color: #81ad40;
  font-weight: bold;
  font-size: 1.5em;
  margin-top: 0;
}

.form-button {
  background-color:#81ad40;
}

.form-small {
  width: 500px;
  margin: auto;
}

.shared-link a{
  text-decoration: none;
  color: rgb(135, 134, 134);
}

.shared-link {
  margin-top: 25px;
}
